.numberSlider {
    margin: 2rem auto;
}
.numberSlider label {
    display: block;
}

.slider {
    -webkit-appearance: none;
    max-width: 300px;
    width: 200px;
    height: 7px;
    background: var(--off-white);
    border-radius: 5px;
    background-image: linear-gradient(var(--dark-green), var(--dark-green));
    background-size: 15% 100%;
    background-repeat: no-repeat;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: var(--dark-green);
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 var(--dark-green);
    transition: background .3s ease-in-out;
}

.slider::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}