
.passwordDisplay {
    margin: 0.8rem auto;
    padding: 0.2rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-green);
    border: 2px solid var(--dark-green);
    width: fit-content;
    min-width: 50%;
    border-radius: 5px;
    height: 3rem;
}
.passwordDisplay p {
    max-width: 90vw;
    word-wrap: break-word;
    overflow-wrap: break-word;
}